aiodns==3.4.0
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
asgiref==3.8.1
attrs==25.3.0
beautifulsoup4==4.13.4
brotli==1.1.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cloudscraper==1.2.71
crispy-bootstrap5==2025.4
dj-database-url==2.3.0
django==5.2
django-cors-headers==4.7.0
django-crispy-forms==2.4
django-environ==0.12.0
djangorestframework==3.16.0
dotenv==0.9.9
environ==1.0
fake-useragent==2.2.0
frozenlist==1.6.0
gunicorn==23.0.0
h11==0.16.0
idna==3.10
loguru==0.7.3
lxml==5.4.0
multidict==6.4.3
narwhals==1.39.0
packaging==25.0
plotly==6.0.1
propcache==0.3.1
psycopg2-binary==2.9.10
pycares==4.8.0
pycparser==2.22
pyparsing==3.2.3
python-decouple==3.8
python-dotenv==1.1.0
pyyaml==6.0.2
requests==2.32.3
requests-toolbelt==1.0.0
sentry-sdk==2.28.0
soupsieve==2.7
sqlparse==0.5.3
tqdm==4.67.1
typing-extensions==4.13.2
urllib3==2.4.0
uvicorn==0.34.2
whitenoise==6.9.0
yarl==1.20.0
