# pre-commit и его зависимости
pre-commit==4.2.0
identify==2.6.12
cfgv==3.4.0
filelock==3.18.0
platformdirs==4.3.7
virtualenv==20.31.2
pipx==1.7.1
nodeenv==1.9.1
userpath==1.9.2
black

# debug/утилиты
django-debug-toolbar==5.2.0
django-extensions==4.1

# также можно добавить:
# flake8
# pytest
# ipython
