/*.image-zoom {*/
/*    transition: transform 0.3s ease;*/
/*}*/

/*.image-zoom:hover {*/
/*    transform: scale(2.5); !* Увеличивает изображение в 1.5 раза *!*/
/*    z-index: 1000; !* Чтобы увеличенное изображение было поверх других элементов *!*/
/*}*/