{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <!-- Ваш GIF с анимацией -->
    <div style="position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; overflow: hidden; z-index: -1;">
        <img src="{% static 'img/watch_mille.gif' %}" 
             alt="Fullscreen Animation" 
             style="width: 100%; height: 100%; object-fit: cover;">
    </div>

    <!-- Остальной контент главной страницы -->
    <div class="row">
        <div class="col-md-12">
            <h4 class="display-6 text-info ">Добро пожаловать в наш часовой магазин
            </h4>
            <p class="lead text-info fw-bold fs-5 fst-italic">Здесь вы найдете эксклюзивные коллекции часов</p>
        </div>
    </div>
</div>
{% endblock %}